<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.qa.tests.Loginsamplesite3Test"/>
      <class name="com.qa.tests.AccountTest"/>
      <class name="com.qa.tests.CartTest"/>
      <class name="com.qa.tests.Loginsamplesite4Test"/>
      <class name="com.qa.tests.Loginsamplesite2Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
